<%= form_for(@answer, url: path, method: method) do |f| %>
  <% if path == answers_path %>
    <%= f.hidden_field :user_id, :value => current_user.id, class: 'form-control unit-price' %>
    <%= f.hidden_field :office_id, :value => current_user.office.id, class: 'form-control unit-price' %>
    <div class = "container">
      <% @questions_display =  @questions.where(display: true)%>
      <% @questions_display.each do |question| %>
        <%= f.fields_for :answer_details do |ad| %>
        <div class = "row question-row">
          <div class = "col-sm-3 question">
            <%= question.title %>
          </div>
          <div class = "col-sm-8">
            <%= render 'anser_detail_fields', f: ad, q: question %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class = "registrate">
      <%= f.submit '登録する', class: 'square_btn' %></br>
      <%= link_to '回答をやめる', top_path, class: "square_btn" %>
    </div>

  <% elsif path == answer_path%>
    <%= f.hidden_field :user_id, :value => @answer.user_id, class: 'form-control unit-price' %>
    <%= f.hidden_field :office_id, :value => @answer.office_id, class: 'form-control unit-price' %>
    <div class = "container">
        <%= f.fields_for :answer_details do |ad| %>
          <% question = @questions.find(ad.object.question_id)%>
          <div class = "row question-row">
            <div class = "col-sm-3 question">
              <%= question.title %>
            </div>
            <div class = "col-sm-8">
              <%= render 'anser_detail_fields', f: ad, q: question %>
            </div>
          </div>
        <% end %>
    </div>
    <div class = "registrate">
      <%= f.submit '編集する', class: 'square_btn' %></br>
      <%= link_to '回答をやめる', top_path, class: "square_btn" %>
    </div>
  <% end %>

<% end %>
