<!DOCTYPE html>
<html>
  <head>
    <title>Bridap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <%= yield %>

    <% if current_user %>
      <div class='control-footer'>
        <% case current_user.login_type%>
          <% when 1 %>
            <p>店舗管理者メニュー</p>
            <%= link_to '[システム終了]', destroy_user_session_path, method: :delete %></li>
            <%= link_to '[回答一覧を確認する]', answers_path %>
            <%= link_to '[設問を編集する]', questions_path %>
          <% when 2 %>
            システム管理者用メニュー</br>
            <%= link_to '[システム終了]', destroy_user_session_path, method: :delete %></li>
            <%= link_to '[回答一覧を確認する]', answers_path %>
            <%= link_to '[システム管理者モード]', rails_admin_path %>
          <% when 0%>
            <%= link_to '★', destroy_user_session_path, method: :delete %></li>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
